/* The container for the whole Preview */
.book-preview {
    clear: both;
    padding: 3em;
    background: #F6F4E0;
    color:black;
    position: relative;
    overflow: auto;
    display: none;
    height: 450px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.25) inset;
}

/* The closing cross on the Preview */
.book-preview-close {
    position: absolute;
    z-index: 10;
    top: 1em;
    right: 1em;
    width: 30px;
    height: 30px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2Fy ZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAA AAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5U Y3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6 eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8w Mi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRw Oi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpE ZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRv YmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNv bS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20v eGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRv YmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0i eG1wLmlpZDpCNDg5MkEwM0ZEM0MxMUUzOTAyNDlCRDA2MTgzMjhENCIgeG1wTU06 RG9jdW1lbnRJRD0ieG1wLmRpZDpCNDg5MkEwNEZEM0MxMUUzOTAyNDlCRDA2MTgz MjhENCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAu aWlkOkI0ODkyQTAxRkQzQzExRTM5MDI0OUJEMDYxODMyOEQ0IiBzdFJlZjpkb2N1 bWVudElEPSJ4bXAuZGlkOkI0ODkyQTAyRkQzQzExRTM5MDI0OUJEMDYxODMyOEQ0 Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8 P3hwYWNrZXQgZW5kPSJyIj8+8NlNEgAAAVBJREFUeNrs29EOgiAUgOHoLeC5Mq17 3/+2DTeSOmvWFFSoYf5nO2tuTTwfYEKlnHOHPcfxsPMAAAAAAAAAAAAAAAAAAAAA AAAAAAAgJZRS/kX32fZp/PE30p9b2tByvD78nmDG1H3e3DNsn9fcPebPKed20pZO uebcAK17jy4nghTffbTRlgRgBr0zRLhkKP4yUryVNssACPRSEsJE8a/RVRRABKFZ UXwTKr5IgEiv1QuKr+eMpiIBUhHmFl80QGQInwPFn5dMoaIBAr1pxxCkeLtk1BQP EEGoBu+plha/GYBA7/rjk6SdM0o2CxBBWFX85gACQ31yavwdgFz0aQLhMSV+taDb /X4AU4CbIB+DPAjxKMxiiOUwGyJsibEpyrY4X4zw1Vime4CWXjFfXMAZaUOn3gMU f5jg9wEAAAAAAAAAAAAAAAAAAAD7i7sAAwB/21/1MhzmOwAAAABJRU5ErkJggg=='
    );
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

/* The image container in the Preview */
.book-preview-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    margin: 0;
    padding: 10px;
    border-right: 1px dotted black;
    text-align: center;
}

.book-preview-content h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.book-preview-content h4 {
    margin: 5px;
    font-size: 1em;
}

/* The image inside the .image figure */
.image img {
    position: relative;
    display: block;
    height: 250px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
}

.book-preview-affiliation {
    margin: 10px;
}

.book-preview-affiliation h3 {
    font-size: 1.3em;
}

/* The description container in the Preview */
.book-preview-desc {
    position: absolute;
    top: 0;
    left: 33%;
    width: 67%;
    padding: 1.5em;
}

.book-preview-desc h3 {
    font-size: 1.3em;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    margin-bottom: 0.3em;
}

.book-preview-recommendation {
    padding: 0.5em;
    text-align: justify;
}

.book-preview-recommendation blockquote {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.5em
}

.book-preview-sources {
    padding: 0.5em;
}

.book-preview-invitation {
    background-color: #77B8C1;
    border: 2px solid #77B8C1;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    margin: 5%;
    margin-right: 20%;
    margin-left: 20%;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-decoration: bold;
    color: white;
    margin: 15px;
}

.book-preview-invitation:hover {
    box-shadow: 0 0 10px #77B8C1;
}

@media (max-width: 768px) {
    .book-preview-desc {
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .book-preview {
        height: 360px;
    }

    .book-preview-affiliation,
    .book-preview-desc-smartphone {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}